<ion-content>
  <ion-item *ngIf="product" [routerLink]="['/product-item', productId]"
    class="item ios in-list ion-focusable item-label hydrated desc-area">
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated desc-product">
      <h2>{{product.name}} / {{product.city}}</h2>
      <img src="{{product.picture}}">
    </ion-label>
  </ion-item>

  <div *ngIf="chat.length == 0" class="no-chat">
    <p>Ninguém perguntou ainda!</p>
  </div>

  <ion-card class="chat-content" *ngFor="let msg of chat">
    <div class="chat-conversation">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="{{msg.photoUser || 'assets/icon/user.svg'}}">
      </ion-avatar>
      <ion-card>
        <ion-card-subtitle class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          {{msg.message}}
        </ion-card-subtitle>
      </ion-card>
    </div>
    <div class="chat-conversation" *ngIf="msg.idUserPublish">
      <ion-avatar slot="start" class="ios hydrated">
        <img src="{{msg.photoUserPublish || 'assets/icon/user.svg'}}">
      </ion-avatar>
      <ion-card>
        <ion-card-subtitle class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          {{msg.messageRespost}}
        </ion-card-subtitle>
      </ion-card>
    </div>
    <div class="respostUser" *ngIf="!msg.idUserPublish && isUserPublish">
      <ion-item>
        <ion-input type="text" [(ngModel)]="msg.messageRespost" placeholder="Responda essa mensagem"></ion-input>
        <ion-button (click)="addMessageRespost(msg)">Responder</ion-button>
      </ion-item>
    </div>
  </ion-card>

</ion-content>

<ion-footer *ngIf="!isUserPublish">
  <ion-item>
    <ion-input type="text" [(ngModel)]="message.message" placeholder="Faça uma pergunta"></ion-input>
    <ion-button (click)="addMessage()">Enviar</ion-button>
  </ion-item>
</ion-footer>