<ion-content color="secondary">
  <a class="btn-delete" (click)="deletarItem()" expand="block">
    <ion-icon name="trash"></ion-icon>
  </a>

  <ion-avatar>
    <img src="{{product.picture}}" *ngIf="imagePath == '' && product.picture != '' ">
    <img src="{{imagePath}}" *ngIf="imagePath != ''">
    <ion-icon name="camera" *ngIf="product.picture === ''"></ion-icon>
    <ion-button color="success" class="btn-add-photo" (click)="openCamera()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-avatar>

  <ion-list color="secondary">
    <ion-item color="secondary">
      <ion-input type="text" required [(ngModel)]="product.name" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item color="secondary">
      <ion-input type="text" required [(ngModel)]="product.description" placeholder="Descrição"></ion-input>
    </ion-item>
    <ion-item color="secondary">
      <ion-input required style="float: left; width:40%" [(ngModel)]="cep" [brmasker]="{mask:'00000-00', len:9}"
        placeholder="CEP"></ion-input>
      <ion-button color="success" (click)="buscaCep()">Busca CEP</ion-button>
    </ion-item >
    <ion-item color="secondary" style="float: left; width:74%; padding: 0 20px 0 0">
      <ion-input type="text" [(ngModel)]="product.city" placeholder="Cidade"></ion-input>
    </ion-item>
    <ion-item color="secondary" style="float: left; width:26%">
      <ion-input type="text" [(ngModel)]="product.state" [brmasker]="{mask:'00', len:2}" 
        placeholder="uf" ></ion-input>
    </ion-item>
    <ion-item color="secondary">
      <ion-icon color="success" name="logo-whatsapp"></ion-icon>
      <ion-input type="text" [(ngModel)]="product.phone" [brmasker]="{mask:'(00) 00000-0000', len:15}"
        placeholder=" Número WhatsApp"></ion-input>
    </ion-item>
  </ion-list>
  <ion-icon name="chatboxes" (click)="openChat()" ></ion-icon>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="success" (click)="uploadImage()" expand="block">
      Concluido
    </ion-button>
    <ion-button color="success" (click)="itemDoado()" expand="block">
      Doado
    </ion-button>
  </ion-toolbar>
</ion-footer>