<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Doações
    </ion-title>
    <ion-icon name="search" (click)="searchBox()"></ion-icon>
  </ion-toolbar>
  <ion-searchbar *ngIf="filter" color="primary" placeholder="Busca por nome, cidade ou UF" [(ngModel)]="terms"></ion-searchbar>
</ion-header>

<ion-content *ngIf="!products.length" class="tab1-page-content" color="tertiary">
  <div *ngIf="dbError" class="error-warning">
    <ion-icon name="information-circle-outline"></ion-icon>
    <h4 class="error-warning">Desculpe, estamos em manutenção.</h4>
  </div>
  <div *ngIf="!dbError">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </div>

</ion-content>
<ion-content *ngIf="products.length" class="tab1-page-content" color="tertiary">
  <ion-item *ngFor="let product of products | search : terms" (click)="detailProduct(product)"
    class="item ios in-list ion-focusable item-label hydrated">
    <ion-avatar slot="start" class="ios hydrated">
      <img src="{{product.picture}}">
    </ion-avatar>
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>{{product.name}}</h2>
      <div>
        <p>por</p>
        <h4>{{product.userName}}</h4>
      </div>
      <p>{{product.city}} \ {{product.state}}</p>
    </ion-label>
  </ion-item>
  
</ion-content>