<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Doações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab1-page-content" color="tertiary">

  <ion-list *ngIf="!products.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card color="light" *ngFor="let product of products" [routerLink]="['/product-edit', product.id]" class="sc-ion-card-ios-h sc-ion-card-ios-s ios hydrated post-area">
    <img src="{{product.picture}}">
    <ion-button color="dark" class="btn-favorite" (click)="liked()" >
      <ion-icon name="jet"></ion-icon>
    </ion-button>
    <ion-card-content class="ios card-content-ios hydrated post-content">
      <ion-card-header class="content-header">
        <ion-card-subtitle color="medium" class="ios hydrated" role="heading" aria-level="1">
          {{product.description}}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card-content>
  </ion-card>
</ion-content>