<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="secondary">

  <ion-avatar>
    <img src="{{userDb?.photo}}" *ngIf="userDb?.photo != null">
    <img src="{{imagePath}}" *ngIf="imagePath != ''">
    <ion-icon name="person" *ngIf="userDb?.photo == null && imagePath == ''"></ion-icon>
    <ion-button *ngIf="imagePath != ''" color="primary" class="btn-add-photo" (click)="removePhoto()">
      <ion-icon name="reverse-camera"></ion-icon>
    </ion-button>
    <ion-button *ngIf="imagePath == ''" color="primary" class="btn-add-photo" (click)="presentActionSheet()">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-avatar>

  <ion-list color="secondary">
    <ion-item color="secondary">
        <ion-label class="label-floating" position="floating">NOME</ion-label>
      <ion-input type="text" [(ngModel)]="userDb.name" value='{{userDb?.name}}' placeholder="Seu nome"></ion-input>
    </ion-item>

    <ion-item color="secondary">
        <ion-label class="label-floating" position="floating">EMAIL</ion-label>
      <ion-input type="text" value='{{userDb.email}}' readonly></ion-input>
    </ion-item>

    <ion-item color="secondary" style="float: left; width:74%; padding: 0 20px 0 0">
      <ion-label class="label-floating" position="floating">CIDADE</ion-label>
      <ion-input type="text" [(ngModel)]="userDb.city" placeholder="Cidade"></ion-input>
    </ion-item>

    <ion-item color="secondary" style="float: left; width:26%">
      <ion-label class="label-floating" position="floating">UF</ion-label>
      <ion-input type="text" [(ngModel)]="userDb.state" [brmasker]="{mask:'00', len:2}"
       placeholder="uf"></ion-input>
    </ion-item>

    <ion-item color="secondary">
      <ion-label class="label-floating" position="floating">NÚMERO WHATSAPP</ion-label>
      <ion-input type="text" [(ngModel)]="userDb.phone" value='{{userDb?.phone}}'
        [brmasker]="{mask:'(00) 00000-0000', len:15}" placeholder="Seu número de WhatsApp"></ion-input>
    </ion-item>

    <ion-button class="btn-edit" (click)="editProfile()">Editar perfil</ion-button>

  </ion-list>

</ion-content>