ion-content {
    text-align: center;
}

.signup-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.icon-register {
    color: var(--ion-color-primary);
    position: absolute;
    left: 0;
    top: 65%;
    font-size: 15px;
}

div > ion-label {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

ion-item {
    --background: none;
    --padding: 0;
    color: var(--ion-color-primary);
}

.label-floating {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 10px !important;
}

ion-input {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #ffffffaf;
    font-size: 15px !important;
}

ion-button {
    --border-radius: 20px;
    position: fixed;
    bottom: 15%;
    left: 30%;
    width: 40%;
    height: 25px;
}