<ion-content color="secondary">
  <div style="height: 30%; justify-content: center;" class="signup-content">
    <ion-icon color="primary" style="font-size: 50px;" name="cube"></ion-icon>
    <ion-label color="primary">Cadastre-se</ion-label>
  </div>
  <div style="height: 70%;" class="signup-content">
    <form style="width: 90%" padding [formGroup]="formRegister" novalidate>
      <ion-item class="ion-no-padding">
        <ion-icon class="icon-register" name="mail"></ion-icon>
        <ion-label class="label-floating" position="floating">EMAIL</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon class="icon-register" name="key"></ion-icon>
        <ion-label class="label-floating" position="floating">SENHA</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-button (click)="register()" [disabled]="!formRegister.valid">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </form>

  </div>
</ion-content>