ion-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 21px;
}

h3 {
    padding: 10px 0;
}

form {
    padding: 25px;
}

ion-list {
    background: none;
}

ion-button {
    --border-radius: 25px;
    width: 150px;
    margin-top:50px;
    font-size: 10px;
}