<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home" class="tab-selected">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favorites" class="tab-selected">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="publish" class="tab-selected tab-cube">
      <ion-icon name="cube"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="config" class="tab-selected">
      <ion-icon name="cog"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="more" class="tab-selected">
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
