<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="jet"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="publish">
      <ion-icon name="send"></ion-icon>
      <ion-label>Publicar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
