ion-tab-bar {
    height: 40px;
}

ion-tab-button {
    padding: 9px;
}

ion-tab-button[aria-selected="true"] {
    color: #6BBFA7;
}

.tab-cube {
    padding: 0;
}

.tab-cube > ion-icon {
    position: absolute;
    font-size: 35px;
}

ion-icon {
    margin: 0;
}
