.content-img {
    position: relative;
    background-color: #ffffff;
    text-align: center;
}

.content-img > img {
    height: 40vh;
    width: auto;
}

.btn-content {
    width: 100%;
    text-align: center;
}

.btn-aceitar {
    --border-radius: 20px;
    width: 70%;
    height: 30px;
}

.product-content {
    position: relative;
    padding: 10px;
}

.favoriteItem {
    position: absolute;
    top: 20px;
    left: 15px;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    padding: 5px;
}

.report {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    padding: 5px;
}

.toastBackground {
    background-color: rgba(0, 0, 0, 0.603);
}

.btn-interation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.liked {
    color: var(--ion-color-secondary);
}