.content-img {
    position: relative;
}

.content-img > img {
    width: 100%;
}

.content-img > div {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.445);
    height: 28px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.content-img > div > p {
    padding: 0;
    margin: 0;
}

.content-img > p {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.btn-content {
    width: 100%;
    text-align: center;
}

ion-button {
    --border-radius: 20px;
    width: 70%;
    height: 30px;
}

.product-content {
    position: relative;
    padding: 10px;
}

.favoriteItem {
    position: absolute;
    top: 20px;
    left: 15px;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    padding: 5px;
}

.report {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}

.toastBackground {
    background-color: rgba(0, 0, 0, 0.603);
}