<ion-content color="secondary" *ngIf="product">
  <div class="content-img">
    <ion-icon (click)="favoriteItem()" color="primary" name="jet"></ion-icon>
    <img src="{{product.picture}}" alt="Imagem do item para doar">
    <div>
      <p>Doado por {{product?.userName}}</p>
    </div>
    <p>Denunciar</p>
  </div>
  <div class="product-content">
    <h3>{{product?.name}}</h3>
    <h5>{{product?.description}}</h5>
    <p>{{product?.city}} / {{product?.state}}</p>
  </div>
  <div class="btn-content">
    <a href="https://api.whatsapp.com/send?phone=55{{product?.phone}}">
      <ion-button>Eu quero</ion-button>
    </a>
  </div>
</ion-content>