<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Minhas doações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab1-page-content" color="tertiary">
  <div *ngIf="products.length === 0" class="item-empty">
    <ion-icon name="information-circle-outline"></ion-icon>
    <h4 class="error-warning">Você não possui doações a serem exibidas.</h4>
  </div>
  <ion-item *ngFor="let product of products" [routerLink]="['/product-edit', product.id]"
    class="item ios in-list ion-focusable item-label hydrated">
    <ion-avatar slot="start" class="ios hydrated">
      <img src="{{product.picture}}">
    </ion-avatar>
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>{{product.name}}</h2>
      <h3>{{product.userName}}</h3>
      <p>{{product.city}} \ {{product.state}}</p>
    </ion-label>
  </ion-item>

</ion-content>