<ion-content >
  <div class="user-area">
    <ion-avatar>
      <ion-icon *ngIf="photoUser == '' " name="contact"></ion-icon>
      <ion-avatar *ngIf="photoUser != '' ">
        <img src="{{photoUser}}" alt="">
      </ion-avatar>
    </ion-avatar>
    <div class="user-info">
      <ion-text class="user-name">Bem vindo, Lucas</ion-text>
      <ion-text class="link-user" (click)='edit-perfil()'>editar pefil</ion-text>
      <ion-text> | </ion-text>
      <ion-text class="link-user" (click)='logout()'>sair</ion-text>
    </div>
  </div>

  <ion-list>
    <ion-item-sliding>
      <ion-item [routerLink]="['/product-list-user']">
        <ion-icon name="gift"></ion-icon>
        <ion-label>Minhas doações</ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-icon name="cog"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>