<ion-app class="ios ion-page hydrated">
  <ion-header translucent="" class="ios header-ios header-translucent header-translucent-ios hydrated">
    <ion-toolbar class="ios hydrated">
      <ion-title class="ios title-ios hydrated toolbar-content">TimeLine</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen="" class="ios page-content" style="--offset-top:85px; --offset-bottom:0px">
    <ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s ios hydrated post-area" *ngFor="let post of posts">
      <img src="{{post.imgProduct}}">
      <!-- <ion-card-header class="ios hydrated">
        <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3">Destination</ion-card-subtitle>
        <ion-card-title class="ios hydrated" role="heading" aria-level="2">Madison, WI</ion-card-title>
      </ion-card-header> -->
      <ion-card-content class="ios card-content-ios hydrated post-content">
        <img
          src="{{post.imgUser}}"
          alt="">
        <ion-card-header class="content-header">
          <ion-card-subtitle class="ios hydrated" role="heading" aria-level="1">
            {{post.description}}
          </ion-card-subtitle>
          <ion-text>
            <a href="" class="link-user">{{post.name}}</a>
          </ion-text>
        </ion-card-header>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>