.login-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

ion-icon {
    font-size: 50px;
}

ion-label {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

ion-button {
    --border-radius: 20px;
    width: 60%;
    font-size: 10px;
    margin: 8px 0;
}

.btn-register {
    --background: var(--ion-color-light);
    --color: var(--ion-color-primary);
}