<ion-content color="primary">

  <div class="login-content">
    <ion-icon name="cube"></ion-icon>
    <ion-label class="text-login">Detachment</ion-label>
  </div>

  <div class="login-content">
    <ion-button [routerLink]="['/signup']" class="btn-login btn-register">
      CADASTRE-SE GRÁTIS
    </ion-button>

    <ion-button style="--background: rgba(255, 255, 255, 0); --border-color: #ffffff; 
      --border-style: solid; --border-width: 1px;" [routerLink]="['/signin']"
        class="btn-login">
      ENTRAR
    </ion-button>
  </div>

</ion-content>