<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Publicar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <form [formGroup]="formResgisterItem" novalidate>
    <ion-avatar (click)="presentActionSheet()">
      <img src="{{imagePath}}" *ngIf="imagePath != ''">
      <ion-icon name="images" *ngIf="imagePath === ''"></ion-icon>
      <ion-button color="primary" class="btn-add-photo">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-avatar>

    <ion-list color="secondary">
      <ion-item color="secondary">
        <ion-input type="text" formControlName="name" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-input type="text" formControlName="description" placeholder="Descrição"></ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-input style="float: left; width:40%" formControlName="cep"  
          [brmasker]="{mask:'00000-00', len:9}" placeholder="CEP"></ion-input>
        <ion-button color="success" (click)="buscaCep()">Busca CEP</ion-button>
      </ion-item>
      <ion-item color="secondary" style="float: left; width:80%; padding: 0 20px 0 0">
        <ion-input type="text" value='{{city}}' 
          placeholder="Cidade"></ion-input>
      </ion-item>
      <ion-item color="secondary" style="float: left; width:20%">
        <ion-input type="text" class="ipt-state" value='{{state}}' 
          placeholder="uf"></ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-icon color="success" name="logo-whatsapp"></ion-icon>
        <ion-input type="text" formControlName="phone" [brmasker]="{mask:'(00) 00000-0000', len:15}"
          placeholder=" Número WhatsApp" value='{{phone}}'></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="btn-publish" [disabled]="!formResgisterItem.valid" 
      color="primary" (click)="uploadImage()" expand="block">
      Publicar
    </ion-button>

  </form>

</ion-content>