<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button class="teste" tab="timeLine-tab">
      <ion-icon name="paper"></ion-icon>
      <ion-label>TimeLine</ion-label>
    </ion-tab-button>

    <ion-tab-button class="teste" tab="favorites-tab">
      <ion-icon name="rocket"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button class="teste" tab="configurations-tab">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
