ion-content {
    text-align: center;
}

.signup-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.icon-register {
    color: var(--ion-color-primary);
    position: absolute;
    left: 0;
    top: 65%;
    font-size: 15px;
}

ion-item {
    --background: none;
    --padding: 0;
    color: var(--ion-color-primary);
}

ion-label {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 10px !important;
}

ion-input {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #ffffffaf;
    font-size: 15px !important;
}

.reset-password-link {
    position: absolute;
    right: 8px;
    bottom: 31px;
    font-size: 11px;
    color: rgba(207, 207, 207, 0.637);
    text-decoration: none;
}

ion-button {
    --border-radius: 20px;
}

.btn-login {
    width: 60%;
    height: 28px;
    font-size: 11px;
}

.separator-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
}

.separator-login > div {
    width: 20%;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.separator-login > p {
    font-size: 8px;
    padding: 0;
    margin: 0 5px;
    color: rgba(216, 216, 216, 0.911);
}

hr {
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: rgba(216, 216, 216, 0.911);
}

.btn-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn-social > ion-button {
    height: 23px;
    width: 105px;
    font-size: 8px;
}

ion-button > p {
    margin: 0 5px;
}