<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon color="secondary" name="jet"></ion-icon>
      <ion-img class="img-favorite" src="https://images-americanas.b2w.io/produtos/01/00/item/129198/7/129198775_1GG.jpg"></ion-img>
      <ion-label>Urso de pelúcia</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon color="secondary" name="jet"></ion-icon>
      <ion-img class="img-favorite" src="https://a-static.mlcdn.com.br/618x463/bicicleta-cairu-aro16-com-cesta-feminina-c-high/gazinshop/5367/817160a5d04fd025aaaef4ede6044164.jpg"></ion-img>
      <ion-label>Bicicleta Aro 16</ion-label>
    </ion-item>
  </ion-list>
</ion-content>