.post-area img {
    max-height: 35vh;
    max-width: auto;
}
  
.post-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgba(71, 71, 71, 0.493);
}
  
.post-content img {
    height: 50px;
    width: 50px;
}
  
.content-header {
    padding: 0;
    margin-left: 10px;
}
  
.link-user {
    text-decoration: none;
    color: aqua;
}